# -----------------------------------------------------------------------------
#- Icezum constraint file (.pcf)
#- By Juan Gonzalez (Obijuan)
#- April - 2016
#- GPL license
# -----------------------------------------------------------------------------
# --  Repo: https://github.com/FPGAwars/icezum/wiki
# --  Pinout: https://github.com/FPGAwars/icezum/blob/master/doc/pinout/icezum-pinout.pdf

# ------------ User Leds ------------------------------------------------------
set_io -nowarn LED0  95
set_io -nowarn LED1  96
set_io -nowarn LED2  97
set_io -nowarn LED3  98
set_io -nowarn LED4  99
set_io -nowarn LED5  101
set_io -nowarn LED6  102
set_io -nowarn LED7  104

# ------------ User push buttons ---------------------------------------------
set_io -nowarn SW1  10
set_io -nowarn SW2  11

# ------------ 5v Digital I/O ------------------------------------------------

# --- Top Female header
#   ---------------------------------------   -------------------------------
#  |  SCL SDA AR GND D13 D12 D11 D10 D9 D8 | | D7 D6  D5  D4  D3  D2  D1  D0 |
#   ---------------------------------------   -------------------------------
#
#                     Male, 3 pin connectors
#
#               Gnd   *   *   *   *   *  *      *  *  *   *   *   *   *   * Gnd
#               Vcc   *   *   *   *   *  *      *  *  *   *   *   *   *   * Vcc
#               S     *   *   *   *   *  *      *  *  *   *   *   *   *   * S
#
#
#                                                     Male, 3 pin connectors
#                                                     *   *   *   *   *   *
#                                                     *   *   *   *   *   *
#                                                     *   *   *   *   *   *
# --- Bottom female header
#               -------------------------------     -------------------------
#              |  x 5V  R 3v3 5vP  GND GND PWR |   | DD0 DD1 DD2 DD3 DD4 DD5 |
#               -------------------------------     -------------------------

# -- In top female header
set_io -nowarn D13  144
set_io -nowarn D12  143
set_io -nowarn D11  142
set_io -nowarn D10  141
set_io -nowarn D9   139
set_io -nowarn D8   138
set_io -nowarn D7   112
set_io -nowarn D6   113
set_io -nowarn D5   114
set_io -nowarn D4   115
set_io -nowarn D3   116
set_io -nowarn D2   117
set_io -nowarn D1   118
set_io -nowarn D0   119

# -- In Bottom female header
set_io -nowarn DD0   78
set_io -nowarn DD1   79
set_io -nowarn DD2   80
set_io -nowarn DD3   81
set_io -nowarn DD4   88
set_io -nowarn DD5   87

# ------------------------- FPGA Direct 3v3 GPIO ------------------------------
#
#        -----------------
#       | GP1 GP3 GP5 GP7 |
#      >| GP0 GP2 GP4 GP6 |
#        -----------------
#
set_io -nowarn GP0  37
set_io -nowarn GP1  38
set_io -nowarn GP2  39
set_io -nowarn GP3  41
set_io -nowarn GP4  42
set_io -nowarn GP5  43
set_io -nowarn GP6  49
set_io -nowarn GP7  50

# -------------------------- I2C ADC -----------------------------------------
set_io -nowarn ADC_SCL  91
set_io -nowarn ADC_SDA  90
set_io -nowarn ADc_INT  93

# -------------------------- SYSTEM CLOCK ------------------------------------
set_io -nowarn CLK 21

# -------------------------- FTDI --------------------------------------------
# --- FTDI 0:
set_io -nowarn RES  66
set_io -nowarn DONE 65
set_io -nowarn SS   71
set_io -nowarn MISO 67
set_io -nowarn MOSI 68
set_io -nowarn SCK  70
#
# --- FTDI 1: (Serial port)
set_io -nowarn DCD 1
set_io -nowarn DSR 2
set_io -nowarn DTR 3
set_io -nowarn CTS 4
set_io -nowarn RTS 7
set_io -nowarn TX  8
set_io -nowarn RX  9
