// Board details at
// https://wiki.sipeed.com/hardware/en/tang/tang-nano-20k/nano-20k.html

// See examples here https://github.com/sipeed/TangNano-20K-example

IO_LOC "CLK"  4;
IO_PORT "CLK" PULL_MODE=UP BANK_VCCIO=1.8;;

IO_LOC "LED"  15; // Active low
IO_PORT "LED" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

// Per https://github.com/YosysHQ/nextpnr/issues/1515
CLOCK_LOC "CLK" BUFG;

