# -----------------------------------------------------------------------------
#- Leds example for the Kéfir I board
#- Constraint file (.pcf)
# -----------------------------------------------------------------------------

# ------------ User Leds ------------------------------------------------------
set_io  D1 137
set_io  D2 135
set_io  D3 129
set_io  D4 121

