# -----------------------------------------------------------------------------
#- Leds example for the icoBOARD board
#- Constraint file (.pcf)
# -----------------------------------------------------------------------------
# --  Pinout: http://icoboard.org/icoboard-1-0.html

# ------------ User Leds ------------------------------------------------------
set_io  LED1  C8
set_io  LED2  F7
set_io  LED3  K9
