# -- Board: IceSugar Pro (On board USB programmer)

# -- CLK
LOCATE COMP "ext_clk" SITE "P6";
IOBUF  PORT "ext_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# -- LED
LOCATE COMP "led" SITE "A11";
IOBUF PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 



