name: build-and-release

on:
  # Runs daily at UTC midnight to minimize risk of overstepping
  # manual builds of same date.
  schedule:
    - cron: "0 0 * * *"

  # Allow manual activations.
  workflow_dispatch:

permissions:
  # Allow release creation
  contents: write

env:
  # These are set up latter.
  RELEASE_TAG: ""
  PACKAGE_TAG: ""

jobs:
  # ----- Parameters collection job
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      # E.g. "2025-11-02"
      - name: Determine release tag
        run: |
          release_tag="$(date +'%Y-%m-%d')"
          echo $release_tag
          echo "RELEASE_TAG=$release_tag" >> $GITHUB_ENV

      # E.g. "20251102"
      - name: Determine package tag
        run: |
          package_tag="${RELEASE_TAG//-/}"
          echo $package_tag
          echo "PACKAGE_TAG=$package_tag" >> $GITHUB_ENV

      - name: Determine last commit
        run: |
          commit=$(git rev-parse HEAD)
          echo $commit
          echo "RELEASE_COMMIT=$commit" >> $GITHUB_ENV

      - name: Determine package file name
        run: |
          package_name="apio-examples-${PACKAGE_TAG}.tgz"
          echo $package_name
          echo "PACKAGE_NAME=$package_name" >> $GITHUB_ENV

      - name: Create build info
        run: |
          cat > build-info.json <<EOF
          {
            "package-name":  "examples",
            "description" : "Apio examples package",
            "release-tag":  "$RELEASE_TAG",
            "target-platform":  "all",
            "build-repo":  "${{github.repository}}",
            "build-workflow":  "${{ github.workflow }}",
            "workflow-run-id":  "${{github.run_id}}",
            "workflow-run-number": "${{github.run_number}}",
            "build-time":  "$(date +'%Y-%m-%d %H:%M:%S %Z')",
            "commit":  "$RELEASE_COMMIT",
            "file-name":  "$PACKAGE_NAME"
          }
          EOF

          cat -n build-info.json

      - name: Format build info
        run: |
          npm install -g json-align
          json-align --in-place --spaces 2 build-info.json
          cat -n build-info.json

      - name: Copy common files to each example
        run: |
          ls -al .
          ls -al ./scripts
          python ./scripts/copy-common-files.py

      - name: Collect package files
        run: |
          mkdir "_package"
          cp -r ./examples/* _package
          cp ./LICENSE _package
          cp build-info.json _package/BUILD-INFO.json
          find _package

      - name: Compress the package directory
        run: |
          pushd _package
          tar zcf ../${PACKAGE_NAME} ./*
          popd
          ls -al

      # -- Apio command is required for testing.
      - name: Install latest apio dev
        run: |
          pip install --force-reinstall -U \ git+https://github.com/fpgawars/apio.git@develop

      - name: Install apio packages
        run: |
          apio packages update

      # -- We test the examples after creating the package because the
      # -- test currently mutates the examples directory when it runs
      # -- the 'apio format' command.
      - name: Run test_examples.py
        run: |
          python ./test.py

      - name: Prepare release text
        run: |
          cat  > RELEASE_BODY.txt <<EOF
          This is an automated build-and-release.

          Build info:
          \`\`\`
          $(tr -d '",{}' < build-info.json)
          \`\`\`
          EOF

          cat -n $out

      - name: Write job summary
        run: |
          tr -d '",{}' < build-info.json >> $GITHUB_STEP_SUMMARY

      # Delete old pre-releases, keeps all releases.
      - name: Delete old pre-releases
        uses: sgpublic/delete-release-action@v1.2
        with:
          # Keep all stable releases .
          release-drop: false
          # Delete old pre-releases, keep the newest 10 (excluding the absolute latest)
          pre-release-drop: true
          pre-release-keep-count: 5
          pre-release-drop-tag: true # Also delete tags of deleted pre-releases
          # Keep all drafts.
          draft-drop: false
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Delete same tag pre-release if exist.
        run: |
          # Status values:
          #   "false" - exists and is a release exists
          #   "true"  - exists and is a pre-release
          #   ""      - doesn't exist
          status=$(gh release view "$RELEASE_TAG" --json isPrerelease -q .isPrerelease  || true)
          echo "Status is [$status]"
          if [[ "$status" == "false" ]]; then
            echo "Error: A stable release (non pre-release) already exists for tag $RELEASE_TAG."
            exit 1
          elif [[ "$status" == "true" ]]; then
            echo "Deleting existing pre-release and tag $RELEASE_TAG."
            gh release delete "$RELEASE_TAG" --yes --cleanup-tag
          fi
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{env.RELEASE_TAG}}
          name: ${{env.RELEASE_TAG}}
          body_path: RELEASE_BODY.txt
          preserve_order: true
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            apio-examples-${{env.PACKAGE_TAG}}.tgz
